h1 {
  align-content: center;
  color: orange;
}
ul {
  list-style-type: none;
}
a {
  color: orange;
  text-decoration: none;
}
hr {
  margin-bottom: 50px;
}


.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  margin-left: 200px;
  margin-right: 200px;
}
.directories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
}
.directories li {
  margin-right: 50px; /* Adjust spacing between list items */
}